/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {}

/******************************************
/* BASE STYLES
/*******************************************/
section {
  background-color: blanchedalmond;
  width: 25%;
  text-align: center;


}



body {}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/